1.5/Source/Genes40k/obj
1.5/Source/Genes40k/bin
1.5/Source/Genes40k/Genes40k.sln.DotSettings.user
1.5/Source/Genes40k/.idea
1.5/Source/Genes40k/.vs
1.6/Source/Genes40k/obj
1.6/Source/Genes40k/bin
1.6/Source/Genes40k/Genes40k-1.6.sln.DotSettings.user
1.6/Source/Genes40k/.idea
1.6/Source/Genes40k/.vs